.message-ok {
  border-radius: 4px;
  border: 1px solid darkgreen;
  background-color: lightgreen;
  color: darkgreen;
  padding: 8px;
  width: 300px;
}


.message-problem {
  border-radius: 4px;
  border: 1px solid darkred;
  background-color: lightcoral;
  color: darkred;
  padding: 8px;
  width: 300px;
}
