body {
  background-color: #eee;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
}

#title {
  position: fixed;
  width: 70%;
  left: 15%;
  text-align: center;
  font-size: 32px;
}

#next-state {
  position: fixed;
  width:  100px;
  height: 100px;
  top: 0px;
  right: 0px;
  background-color: lightgrey;
  cursor: pointer;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid grey;
  margin-top: 10px;
  margin-left: 35px;
}

#image {
  position: fixed;
  top: 150px;
  left: 0px;
  right: 0px;
  bottom: 300px;
}

#image img {
  margin: 0 auto;
  display: block;
}

#answers {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 250px;
}

.letter {
  color: gold;
  font-weight: bold;
  font-size: 18px;
}

.text {
  color: #fff;
}

.table {
  display: table;
  height: 100%;
}

.cartridge-center-inner {
  display: table-cell;
  vertical-align: middle;
  text-overflow: ellipsis;
}

.cartridge-center {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 110px;
  right: 110px;
  background-image: url('/assets/img/center.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.cartridge-left {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 110px;
  height: 80px;
  background-image: url('/assets/img/left.png');
}

.cartridge-right {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 110px;
  height: 80px;
  background-image: url('/assets/img/right.png');
}

.answer {
  width: 50%;
  height: 80px;
  position: absolute;
}

.answer-B {
  left: 50%;
}

.answer-C {
  top: 110px;
}

.answer-D {
  top: 110px;
  left: 50%;
}




